<div class="row" id="landing-selector-container">
  <div class="col-sm text-center">
      <button mat-fab routerLink="/sound-list" (click)="loadProfile('productivity')" class="landing-button landing-button-pink" color="primary">Productivity</button>
  </div>
  <div class="col-sm text-center">
      <button mat-fab routerLink="/sound-list" (click)="loadProfile('relax')" class="landing-button landing-button-green" color="primary">Relax</button>
  </div>
  <div class="col-sm text-center">
      <button mat-fab routerLink="/sound-list" (click)="loadProfile('random')" class="landing-button landing-button-orange" color="primary">Random!</button>
  </div>
</div>      
