<div class="row justify-content-center">
    <div class="col-sm-5 focuson-title">
        FOCUS<mat-icon class="focuson-icon">power_settings_new</mat-icon>N
    </div>
</div>
<div class="row" id="landing-selector-container">
    <div class="col-sm text-center">
        <p routerLink="/sound-list" (click)="loadProfile('productivity')" class="landing-profile-option">Productivity</p>
    </div>
    <div class="col-sm text-center">
        <p routerLink="/sound-list" (click)="loadProfile('relax')" class="landing-profile-option">Relax</p>
    </div>
    <div class="col-sm text-center">
        <p routerLink="/sound-list" (click)="loadProfile('random')" class="landing-profile-option">Random!</p>
    </div>
</div>