<div class="exercises-container">
  <mat-card class="card" (click)="selectExercise('jacobson')">
    <mat-card-header class="card-header header-exercise-1">
      <mat-card-title class="mat-card-title-exercise">Jacobson's Relaxation Technique</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>
        It decreases the tension in the muscles and the mind by means of simple exercises without the need for movements. For this,
        you will only need to sit in a comfortable chair or lie on the bed, adopting the most comfortable position possible.
        The tension and relaxation of the muscles will be maintained for 10 and 15 seconds respectively.
      </p>
    </mat-card-content>
  </mat-card>
  <mat-card class="card" (click)="selectExercise('meditation')">
    <mat-card-header class="card-header header-exercise-2">
      <mat-card-title class="mat-card-title-exercise">Meditation</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>
        Before starting with this technique, it is important to know that, in order to achieve the most optimal results, it must
        be performed multiple times, so you should not alter if you do not get all the exercises consecutively. If this happens,
        you must stop the distracting thought and continue with the exercise. Get a great relaxation, ideal to fall asleep
        or in times of stress. For this, it is necessary to close your eyes and imagine a warm flame of a candle, with which
        you will perform different exercises.

      </p>
    </mat-card-content>
  </mat-card>
  <mat-card class="card" (click)="selectExercise('breathing')">
    <mat-card-header class="card-header header-exercise-3">
      <mat-card-title class="mat-card-title-exercise">Alternate Breathing</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>
        Disconnects from the thoughts that cause stress and promotes a rhythm of breathing according to the absence of anxiety. To
        begin, sit with your back straight and your shoulders relaxed and take deep breaths until you feel you have reached
        a psychological state of peace.</p>
    </mat-card-content>
  </mat-card>
</div>