# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
Frontend-Angular/dist
Frontend-Angular/dist-server
Frontend-Angular/tmp
Frontend-Angular/out-tsc

# dependencies
Frontend-Angular/node_modules

# IDEs and editors
Frontend-Angular/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
Frontend-Angular/typings

# e2e
Frontend-Angular/e2e/*.js
Frontend-Angular/e2e/*.map

# System Files
.DS_Store
Thumbs.db
