<div class="row justify-content-center">
  <div class="col-sm-5 focuson-title">
    FOCUS<mat-icon class="focuson-icon">power_settings_new</mat-icon>N
  </div>
</div>

<div class="row justify-content-center sound-item-row">
  <div *ngIf="soundPlayerService.loadedProfile" class="col-sm-4 title-profiles-field" contenteditable="true" [textContent]="soundPlayerService.profileTitle"
    (input)="soundPlayerService.profileTitle=$event.target.textContent">
    {{soundPlayerService.profileTitle}}
  </div>
  <div class="col-sm-4 text-center" *ngIf="soundPlayerService.userLogged">
    <mat-form-field class="file-select-field-width">
      <mat-select [ngModel]="soundPlayerService.loadedProfile" (ngModelChange)="soundPlayerService.loadNewAudioProfile($event)"
        placeholder="Select sound profile">
        <mat-option [value]="profile" *ngFor="let profile of soundPlayerService.loadedProfilesList; let i = index">{{profile.profileName}}</mat-option>
      </mat-select>
    </mat-form-field>
    <button mat-icon-button matTooltip="Save profile" matTooltipPosition="above" color="primary" id="btnSaveFiles" (click)="soundPlayerService.updateFirebase()">
      <mat-icon>save</mat-icon>
    </button>
    <button mat-icon-button matTooltip="Create new file" matTooltipPosition="above" color="basic" (click)="soundPlayerService.createNewList()">
      <mat-icon>add</mat-icon>
    </button>
  </div>
</div>



<!-- Fila 1 -->
<div class="row justify-content-center sound-item-row">
  <div class="col-sm-3 text-center">
    <div class="sound-item-container">
      <div [ngClass]="{'sound-item-opacity':soundPlayerService.loadedProfile.rainAudio.isPlaying}" (click)="soundPlayerService.playMusic('rain')" class="sound-item sound-item-rain" color="primary"></div>
      <mat-slider [style.visibility]="soundPlayerService.loadedProfile.rainAudio.isPlaying ? 'visible' : 'hidden'" [(ngModel)]="soundPlayerService.loadedProfile.rainAudio.audioVolume"
        min="0" max="1" step="0.05" class="item-volume-slider"></mat-slider>
    </div>
  </div>
  <div class="col-sm-3 text-center">
    <div class="sound-item-container">
      <div [ngClass]="{'sound-item-opacity':soundPlayerService.loadedProfile.stormAudio.isPlaying}" (click)="soundPlayerService.playMusic('storm')"  class="sound-item sound-item-storm" color="primary"></div>
      <mat-slider [style.visibility]="soundPlayerService.loadedProfile.stormAudio.isPlaying ? 'visible' : 'hidden'" [(ngModel)]="soundPlayerService.loadedProfile.stormAudio.audioVolume"
        min="0" max="1" step="0.05" class="item-volume-slider"></mat-slider>
    </div>
  </div>
  <div class="col-sm-3 text-center">
    <div class="sound-item-container">
      <div [ngClass]="{'sound-item-opacity':soundPlayerService.loadedProfile.fireAudio.isPlaying}" (click)="soundPlayerService.playMusic('fire')"  class="sound-item sound-item-fire" color="primary"></div>
      <mat-slider [style.visibility]="soundPlayerService.loadedProfile.fireAudio.isPlaying ? 'visible' : 'hidden'" [(ngModel)]="soundPlayerService.loadedProfile.fireAudio.audioVolume"
        min="0" max="1" step="0.05" class="item-volume-slider"></mat-slider>
    </div>
  </div>
  <div class="col-sm-3 text-center">
    <div class="sound-item-container">
      <div [ngClass]="{'sound-item-opacity':soundPlayerService.loadedProfile.gardenAudio.isPlaying}" (click)="soundPlayerService.playMusic('garden')"  class="sound-item sound-item-garden" color="primary"></div>
      <mat-slider [style.visibility]="soundPlayerService.loadedProfile.gardenAudio.isPlaying ? 'visible' : 'hidden'" [(ngModel)]="soundPlayerService.loadedProfile.gardenAudio.audioVolume"
        min="0" max="1" step="0.05" class="item-volume-slider"></mat-slider>
    </div>
  </div>
</div>
<!-- Fila 2 -->
<div class="row justify-content-center sound-item-row">
  <div class="col-sm-3 text-center">
    <div class="sound-item-container">
      <div [ngClass]="{'sound-item-opacity':soundPlayerService.loadedProfile.riverAudio.isPlaying}" (click)="soundPlayerService.playMusic('river')"  class="sound-item sound-item-river" color="primary"></div>
      <mat-slider [style.visibility]="soundPlayerService.loadedProfile.riverAudio.isPlaying ? 'visible' : 'hidden'" [(ngModel)]="soundPlayerService.loadedProfile.riverAudio.audioVolume"
        min="0" max="1" step="0.05" class="item-volume-slider"></mat-slider>
    </div>
  </div>
  <div class="col-sm-3 text-center">
    <div class="sound-item-container">
      <div [ngClass]="{'sound-item-opacity':soundPlayerService.loadedProfile.seaAudio.isPlaying}" (click)="soundPlayerService.playMusic('sea')"  class="sound-item sound-item-sea" color="primary"></div>
      <mat-slider [style.visibility]="soundPlayerService.loadedProfile.seaAudio.isPlaying ? 'visible' : 'hidden'" [(ngModel)]="soundPlayerService.loadedProfile.seaAudio.audioVolume"
        min="0" max="1" step="0.05" class="item-volume-slider"></mat-slider>
    </div>
  </div>
  <div class="col-sm-3 text-center">
    <div class="sound-item-container">
      <div [ngClass]="{'sound-item-opacity':soundPlayerService.loadedProfile.nightAudio.isPlaying}" (click)="soundPlayerService.playMusic('night')"  class="sound-item sound-item-night" color="primary"></div>
      <mat-slider [style.visibility]="soundPlayerService.loadedProfile.nightAudio.isPlaying ? 'visible' : 'hidden'" [(ngModel)]="soundPlayerService.loadedProfile.nightAudio.audioVolume"
        min="0" max="1" step="0.05" class="item-volume-slider"></mat-slider>
    </div>
  </div>
  <div class="col-sm-3 text-center">
    <div class="sound-item-container">
      <div [ngClass]="{'sound-item-opacity':soundPlayerService.loadedProfile.windAudio.isPlaying}" (click)="soundPlayerService.playMusic('wind')"  class="sound-item sound-item-wind" color="primary"></div>
      <mat-slider [style.visibility]="soundPlayerService.loadedProfile.windAudio.isPlaying ? 'visible' : 'hidden'" [(ngModel)]="soundPlayerService.loadedProfile.windAudio.audioVolume"
        min="0" max="1" step="0.05" class="item-volume-slider"></mat-slider>
    </div>
  </div>
</div>


<button *ngIf="soundPlayerService.userLogged" mat-button color="primary" id="btnQR" (click)="openQRDialog()">
  <mat-icon>phone_iphone
  </mat-icon>
</button>