/* Avoid bootstrap default behaviour we don't want in this component */
button:focus {
  outline: none !important;
}

#sound-list-container {
  position: relative;
}

.title-profiles-field {
  font-size: 44px;
  text-align: center;
  width: 100%;
  outline: none !important;
  font-family: "Courier New", Courier, monospace;
}

.sound-item-row {
    margin-bottom: 3em;
}

::ng-deep .focuson-title{
  text-align: center;
  font-size: 72px;
  font-family: 'Russo One', sans-serif;
}
.focuson-icon {
  color: #c2185b;
  vertical-align: middle;
  font-size: 100px;
  height: 110px;
  width: 100px;

}

.item-volume-slider {
    display:block;
}

.sound-item-container {
    width: 175px;
    display: inline-block;
}

.sound-item-opacity {
  opacity: 1 !important;
}

.sound-item {
  opacity: 0.6;
  background-color: transparent !important;

  height: 150px;
  width: 175px;
}

.sound-item-rain {
  background: url('/assets/images/rain.png') no-repeat center;
  background-size: contain;
}
.sound-item-night {
  background: url('/assets/images/night.png') no-repeat center;
  background-size: contain;
}
.sound-item-garden {
  background: url('/assets/images/garden.png') no-repeat center;
  background-size: contain;
}
.sound-item-wind {
  background: url('/assets/images/wind.png') no-repeat center;
  background-size: contain;
}
.sound-item-fire {
  background: url('/assets/images/fire.png') no-repeat center;
  background-size: contain;
}
.sound-item-storm {
  background: url('/assets/images/storm.png') no-repeat center;
  background-size: contain;
}
.sound-item-river {
  background: url('/assets/images/river.png') no-repeat center;
  background-size: contain;
}
.sound-item-sea {
  background: url('/assets/images/sea.png') no-repeat center;
  background-size: contain;
}

#btnQR {
  height: 40px;
  width: 40px;
  z-index: 99;
  position: fixed;
  top: 15px;
  right: 30px;
}
