@import '~@angular/material/theming';

@include mat-core();

// Define a theme.
$primary: mat-palette($mat-pink, 700, 500, 900);
$accent: mat-palette($mat-blue-grey, A200, A100, A400);

$theme: mat-dark-theme($primary, $accent);

// Include all theme styles for the components.
@include angular-material-theme($theme);

// // Define a theme.
// $primary: mat-palette($mat-deep-purple);
// $accent: mat-palette($mat-amber, A200, A100, A400);

// $theme: mat-light-theme($primary, $accent);

// // Include all theme styles for the components.
// .purple-theme {
//   @include angular-material-theme($theme);
// }
