<button mat-button color="primary" id="btnSideBar" (click)="sidenav.toggle()">
  <mat-icon>menu</mat-icon>
</button>

<mat-sidenav-container id="sideBarContainer" autosize>
  <mat-sidenav #sidenav id="sideBar" mode="side" fixedInViewport>
    <mat-list-item *ngIf="userLogged" style="color: #c2185b;border-bottom: 1px solid;">
      {{userLogged.username}}
    </mat-list-item>
    <mat-nav-list>
      <mat-list-item routerLink="/sound-list">
        <mat-icon matListIcon>queue_music</mat-icon>
        Ambient
      </mat-list-item>
      <mat-list-item routerLink="/editor">
        <mat-icon matListIcon>code</mat-icon>
        Code
      </mat-list-item>
      <mat-list-item routerLink="/exercise-list">
        <mat-icon matListIcon>directions_run</mat-icon>
        Exercises
      </mat-list-item>
      <mat-list-item *ngIf="userLogged" routerLink="/calendar">
        <mat-icon matListIcon>date_range</mat-icon>
        Calendar
      </mat-list-item>
      <mat-list-item *ngIf="!userLogged" (click)="openLoginDialog()">
        <mat-icon matListIcon>person_outline</mat-icon>
        Log in
      </mat-list-item>
      <mat-list-item *ngIf="!userLogged" (click)="openRegisterDialog()">
        <mat-icon matListIcon>create</mat-icon>
        Register
      </mat-list-item>
      <mat-list-item *ngIf="userLogged" (click)="logout()">
        <mat-icon matListIcon>exit_to_app</mat-icon>
        Log out
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>


  <mat-sidenav-content id="componentsContent">
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>