<div class="row">
  <div class="col-sm text-center">
    <h1 mat-dialog-title>Add event</h1>
  </div>
</div>
<div class="row" mat-dialog-content>
  <div class="col-sm text-center">
    <p>Add event</p>
    <mat-form-field class="dialog-field-width">
      <input matInput cdkFocusInitial placeholder="Event Title" [(ngModel)]="data.title">
      <span matSuffix>
        <mat-icon>person</mat-icon>
      </span>
    </mat-form-field>
    <mat-form-field class="dialog-field-width">
      <input matInput placeholder="Date" [(ngModel)]="data.start" type="date">
      <span matSuffix>
        <mat-icon>vpn_key</mat-icon>
      </span>
    </mat-form-field>
    <mat-form-field class="dialog-field-width">
      <input matInput placeholder="Date end" [(ngModel)]="data.end" type="date">
      <span matSuffix>
        <mat-icon>vpn_key</mat-icon>
      </span>
    </mat-form-field>
  </div>
</div>

<div class="row" mat-dialog-actions>
  <div class="col-sm text-center">
    <button mat-button (click)="onNoClick()">Cancel</button>
    <button mat-button color="primary" (click)="onAddClick()">Add!</button>
  </div>
</div>