<div class="row">
  <div class="col-sm text-center">
    <h1 mat-dialog-title>Hi there, guest!</h1>
  </div>
</div>
<div class="row" mat-dialog-content>
  <div class="col-sm text-center">
    <p>Introduce your information</p>
    <mat-form-field class="dialog-field-width">
      <input matInput cdkFocusInitial placeholder="Username" [(ngModel)]="data.username">
      <span matSuffix>
        <mat-icon>person</mat-icon>
      </span>
    </mat-form-field>
    <mat-form-field class="dialog-field-width">
      <input matInput placeholder="Password" [(ngModel)]="data.password1" type="password">
      <span matSuffix>
        <mat-icon>vpn_key</mat-icon>
      </span>
    </mat-form-field>
    <mat-form-field class="dialog-field-width">
      <input matInput placeholder="Password" [(ngModel)]="data.password2" type="password">
      <span matSuffix>
        <mat-icon>vpn_key</mat-icon>
      </span>
      <mat-hint *ngIf="showRegisterErrorMessage && !(data.password1 && data.password2 && (data.password1 !== data.password2))" class="registerErrorMessage">Username taken</mat-hint>
      
      <mat-hint *ngIf="data.password1 && data.password2 && (data.password1 !== data.password2)" class="registerErrorMessage">Passwords don't match</mat-hint>
    </mat-form-field>
  </div>
</div>

<div class="row" mat-dialog-actions>
  <div class="col-sm text-center">
    <button mat-button (click)="onNoClick()">Cancel</button>
    <button mat-button color="primary" (click)="onRegisterClick()">Log in!</button>
  </div>
</div>