/* Avoid bootstrap default behaviour we don't want in this component */
button:focus {
  outline: none !important;
}
.exercises-container {
  margin-top: 15vh;
}
.card {
  width: 100%;
  margin-bottom: 1%;
}

.actions-exercise {
  padding-top: 0;
}

.card-header {
  margin-left: -24px;
  margin-right: -24px;
  margin-bottom: 16px;
  margin-top: -20px !important;
  padding: 0 0 0 16px;
}

.mat-card-title-exercise {
  margin-top: 6px;
  font-family: 'Indie Flower', cursive;
  font-size: 32px !important;
  margin-bottom: 0;
}

.header-exercise-1 {
  /* background-image: url('../../../../../assets/images/abstract-banner1.jpg');
  background-size: cover; */
  color: rgb(160, 61, 190);
}
.header-exercise-2 {
  text-align: right;
  color: rgb(55, 209, 214);
  /* background-image: url('../../../../../assets/images/abstract-banner2.jpg');
  background-size: cover; */
}

.header-exercise-3 {
    text-align: right;
    color: rgb(230, 214, 74);
    /* background-image: url('../../../../../assets/images/abstract-banner3.jpg');
    background-size: cover; */
  }
  
