<div class="row justify-content-between">
    <div class="col-sm-2">
        <button *ngIf="userLogged" mat-icon-button matTooltip="Create new file" matTooltipPosition="above" color="basic" id="btnNewFile" (click)="createNewFile()">
            <mat-icon >add</mat-icon>
        </button>
        <button *ngIf="userLogged" mat-icon-button matTooltip="Save all files" matTooltipPosition="above" color="primary" id="btnSaveFiles" (click)="saveAllFiles()">
            <mat-icon>save</mat-icon>
        </button>
        <button *ngIf="userLogged && userFileSelected.id" mat-icon-button matTooltip="Delete current file" matTooltipPosition="above" color="warn" id="btnDeleteFile" (click)="deleteCurrentFile()">
            <mat-icon>delete_forever</mat-icon>
        </button>
    </div>
    <div class="col-sm-8 title-file-field" contenteditable="true" [textContent]="userFileSelected.fileName" (input)="userFileSelected.fileName=$event.target.textContent">
        <!-- <mat-form-field class="title-file-field"> -->
            <!-- <input class="title-file-input" [(ngModel)]="userFileSelected.fileName"> -->
            {{userFileSelected.fileName}}
        <!-- </mat-form-field> -->
    </div>
    <div class="col-sm-2">
        <button mat-icon-button matTooltip="Download current file" matTooltipPosition="above" color="primary" id="btnDownload" (click)="downloadFile()">
            <mat-icon>save_alt</mat-icon>
        </button>
        <mat-form-field *ngIf="userLogged" class="file-select-field-width">
            <mat-select [ngModel]="userFileSelected" (ngModelChange)="changeFileSelected($event)" placeholder="Select file">
                <mat-option [value]="file" *ngFor="let file of userFileList">{{file.fileName}}</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
</div>
<div class="row">
    <div class="col-sm">
        <ngx-monaco-editor (onInit)="onEditorInit($event)" class="code-editor-instance" [options]="editorOptions" [(ngModel)]="userFileSelected.content"></ngx-monaco-editor>
    </div>
</div>
<div class="row justify-content-end">
    <div class="col-sm-2">
        <mat-form-field class="type-select-field-width">
            <mat-select [ngModel]="languageSelected" (ngModelChange)="changeEditorLanguage($event)" placeholder="Select language">
                <mat-option [value]="language.id" *ngFor="let language of languagesList">{{language.aliases[0]}}</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
</div>