/* Avoid bootstrap default behaviour we don't want in this component */
button:focus {
  outline: none !important;
}

.code-editor-instance {
  height: 75vh;
}

.file-select-field-width {
  width: 75%;
}
.type-select-field-width {
  width: 100%;
}

.title-file-field {
  font-size: 44px;
  text-align: center;
  width: 100%;
  outline: none !important;
  font-family: "Courier New", Courier, monospace;
}

.title-file-input {
  text-align: center;
  background-color: #303030;
  color: white;
  border: 0;
  outline: none !important;
  font-family: "Courier New", Courier, monospace;
}
